<html>

<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>

<body>
    <header>
        <h1 class="app-title">Catalog</h1>
        <a href="login.html" class="login">Login</a>
    </header>
    <div class="container">
        <div class="page-body">
            <div class="row">
                <div class=col-md-12>
                    <h2>Delete Item</h2>
                    <p>Are you sure you want to delete {{item.name}}?</p>

                    <div class='pane'>
                        <form action="{{ url_for('deleteItem', category_id=category_id,item_id=item.id )}}" method='post'>

                            <input type='submit' value='Delete'>

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

</body>

</html>