{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
            <div class="row">
                <div class=col-md-12>
                        <h1>New category Item</h1>

                        <div class = 'pane'>
                        <form action="{{ url_for('newItem', category_id=category_id )}}" method = 'post'>
                        
                        <dl>
                            <dt>Name:</dt>
                                <dd><input type ='text' size='30' name='name' class="form-control"></dd>
                            <dt>Description:</dt>
                                <dd><textarea name = 'description' rows='5' cols='40' class="form-control" > </textarea></dd>
                            <dt>Category</dt>
                            <select name="category" class="form-control">
                            {% for category in categories %}
                                <option>{{category.name}}</option>
                            {% endfor %}
                            

                            </select>
                        
                        
                        
                        
                        </dl>
                        
                        
                        <input type='submit' value='Create'>
                        
                        </form>
                        </div>
                        
                </div>
            </div>

            {% endblock content %}
